$blue-color: #2196f3;

.all-things {
  .selected-category {
    display: block;
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      transition: all 0.22s ease-in;
      padding: 10px;
      border: 1px solid #5e5e5e1a;
      cursor: pointer;
      justify-content: space-around;

      &:hover {
        background: #5e5e5e1a;
      }

      img {
        height: 150px;
        width: 150px;
        object-fit: cover;
        margin-bottom: 10px;
      }

      div {
        width: 100%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        padding: 0;

        h3 {
          margin: 0;
          padding-bottom: 3px;
          margin-bottom: 7px;
          border-bottom: 1px solid #5e5e5e;
        }

        .thing__description {
          color: #5e5e5e;
          margin-bottom: 10px;
        }

        div {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 10px;
          align-items: center;
          margin: 0;

          .thing__price {
            color: $blue-color;
            font-weight: bolder;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .all-things {
    ul {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1400px) {
  .all-things {
    ul {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 1000px) {
  .all-things {
    ul {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 600px) {
  .all-things {
    ul {
      grid-template-columns: 1fr;
    }
  }
}
