.btn {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.1s ease-in;
  background: rgb(33, 150, 243);
  color: #fff;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    background: rgba(94, 94, 94, 0.2) !important;
    border: 1px solid #5e5e5e;
  }

  &:hover {
    background: rgba(33, 150, 243, 0.8);
  }

  &:active {
    background: rgb(31, 140, 230);
    box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
  }

  &.primary {
    background: rgb(65, 184, 131);
    color: #fff;

    &:disabled {
      cursor: not-allowed;
      background: rgba(94, 94, 94, 0.2);
      border: 1px solid #5e5e5e;
    }

    &:hover {
      background: rgba(65, 184, 131, 0.8);
    }

    &:active {
      background: rgb(60, 170, 121);
      box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
    }
  }

  &.danger {
    background: rgb(226, 125, 96);
    color: #fff;

    &:disabled {
      cursor: not-allowed;
      background: rgba(94, 94, 94, 0.2);
      border: 1px solid #5e5e5e;
    }

    &:hover {
      background: rgba(226, 125, 96, 0.8);
    }

    &:active {
      background: rgb(197, 108, 84);
      box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.1);
    }
  }
}
