.order-result {
  &__order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #5e5e5e;
    padding-bottom: 10px;
    margin-bottom: 10px;

    .form-control {
      width: 100%;
    }
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    &_count {
      margin-left: 10px;
      color: $blue-color;
      font-weight: bolder;
      font-size: 1.5rem;
    }
  }

  .cart {
    padding: 0;
    margin: 0;

    &__item {
      height: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #fff;
      margin-bottom: 10px;
      padding: 10px 20px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.22s ease-in;

      &:hover {
        background: #5e5e5e1a;
      }

      img {
        max-height: 100px;
        max-width: 100px;
      }

      .item {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .item-info {
          width: 100%;
          height: 100%;
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .item-title {
            font-weight: bold;
          }

          .item-price {
            color: #5e5e5ecc;
          }

          span {
            display: block;
          }
        }
        .item-btn {
          display: flex;
          flex-direction: column;
          justify-content: center;
          button {
            margin: 5px;
          }
        }
      }
    }
  }
}
